{%- macro render_menu(menu) -%}
    {%- if menu.url -%}<a href="{{ menu.url }}">{%- endif -%}
    <span>{{ menu.label }}</span>
    {%- if menu.url -%}</a>{%- endif -%}
    {%- if menu.sub -%}
    <menu>
        {%- for sub in menu.sub -%}
        <li>
            {{ render_menu(sub) }}
        </li>
        {%- endfor -%}
    </menu>
    {%- endif -%}
{%- endmacro -%}

<!DOCTYPE html>
<html>
    <head>
        <title>BLOGGGG</title>
    </head>
    <body>
        <menu>
            {{ render_menu(menu) }}
        </menu>
    </body>
</html>
