{% extends 'master.html' %}

{%- block content %}
{% for file in files|sort(by="mtime", reverse=true) %}
<section class="page-preview">
    {%- set page=load('file://./data/pages/' ~ file.filename)[0] -%}
    <h1>
        <a href="/{{ file.basename }}">
            {{ (page.meta.title|default(page[0]|str)|default(file.basename))|ellipse(22) }}
        </a>
    </h1>
    <p class="meta tiny">({{ file.type }}, {{ file.size }} bytes)</p>
    {%- if page.meta.excerpt %}
    <p>{{ page.meta.excerpt }}</p>
    {%- else -%}
    <p>{{ page.body|str|ellipse(150) }}</p>
    {% endif -%}
</section>
{% endfor %}
{% endblock -%}
