{%- include "include/macros.html" -%}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}BLOGG{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <section class="hero">
            <h1><a href="/">BLOGG</a></h1>
            <h3>This deserves a payoff, but hey.</h3>
        </section>
        <section class="header">
            <section class="menu">
            {{ renderMenu({"sub":menu}) }}
            </section>
        </section>
        <section class="stuff">
            <h1>Some Stuff</h1>
            {% for item in stuff %}
                <section>
                    <h1>{{ item.title }}</h1>
                    <p>{{ item.body }}</p>
                </section>
            {% endfor %}
        </section>
        <section class="content">
        {% block content %}
        {% endblock %}
        </section>
    </body>
</html>

