{%- macro render_menu(menu) -%}
    {%- if menu.url -%}<a href="{{ menu.url }}">{%- endif -%}
    <span>{{ menu.label }}</span>
    {%- if menu.url -%}</a>{%- endif -%}
    {%- if menu.sub -%}
    <menu>
        {%- for sub in menu.sub -%}
        <li>
            {{ render_menu(sub) }}
        </li>
        {%- endfor -%}
    </menu>
    {%- endif -%}
{%- endmacro -%}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}BLOGG{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <section class="hero">
            <h1><a href="/">BLOGG</a></h1>
            <h3>This deserves a payoff, but hey.</h3>
        </section>
        <section class="header">
            <section class="menu">
            {{ render_menu({"sub":menu}) }}
            </section>
        </section>
        <section class="content">
        {% block content %}
        {% endblock %}
        </section>
    </body>
</html>

