<!DOCTYPE html>
<html>
    <body>
        <h1>{{ page.title }}</h1>
        {{ page.body|markdown }}
        <p><a href="/{{ page.slug }}/edit">edit</a></p>
        <ul>
            {% for page in pages %}
                <li><a href="/{{ page.slug }}">{{ page.title }}</a></li>
            {% endfor %}
            <li><a href="/new">new page</a></li>
        </ul>
        {{ session.put("count", 1) }}
        <footer>ssid: {{ session.id }}; {{ session.get("count") }}</footer>
    </body>
</html>
