{%- extends 'master.html' -%}

{%- block background -%}
    {% if countries.geonames %}
        {% set entry = countries.geonames[0] %}
        {% set latitude = (entry.west + entry.east) / 2 %}
        {% set longitude = (entry.north + entry.south) / 2 %}
        <div id="mapMain"
             class="background background-map"
             data-latitude="{{ latitude }}"
             data-longitude="{{ longitude }}"
             data-west="{{ entry.west }}"
             data-east="{{ entry.east }}"
             data-north="{{ entry.north }}"
             data-south="{{ entry.south }}"
             >
        </div>
    {% else %}
        <div class="background background-empty"></div>
    {% endif %}
{%- endblock -%}

{%- block content -%}
    {%- macro formatRadians(rad, negPrefix, posPrefix) -%}
        {%- if rad < 0 -%} 
            {{ negPrefix }}
        {%- else -%}
            {{ posPrefix }}
        {%- endif -%}
        {{ ' ' }}
        {%- set rad = abs(rad) -%}
        {{ rad|floor }}°
        {%- set minutes = (rad - floor(rad)) * 60 -%}
        {{ minutes|floor }}'
        {%- set seconds = (minutes - floor(minutes)) * 60 -%}
        {{ floor(seconds*1000) / 1000 }}"
    {%- endmacro -%}

    {%- macro formatLatLon(lat, lon) -%}
        {{ formatRadians(lon, 'S', 'N') }}, {{ formatRadians(lat, 'W', 'E') }}
    {%- endmacro -%}

    {% if countries.geonames %}
        {% set entry = countries.geonames[0] %}
        {% set latitude = (entry.west + entry.east) / 2 %}
        {% set longitude = (entry.north + entry.south) / 2 %}
        <div id="countryInfo" class="box">
            <h1>{{ entry.countryName }}</h1>
            <h2>{{ entry.continentName }}</h2>
            <p>Capital: {{ entry.capital }}</p>
            <p>Position: {{ formatLatLon(latitude, longitude) }}</p>
            <p>Area: {{ entry.areaInSqKm }} km²</p>
            <p>Population: {{ entry.population }}</p>

            {#
                areaInSqKm: 357021.0
                north: 55.055637
                capital: Berlin
                isoAlpha3: DEU
                currencyCode: EUR
                south: 47.275776
                languages: de
                geonameId: 2921044
                countryName: Germany
                west: 5.865639
                countryCode: DE
                population: 81802257
                east: 15.039889
                isoNumeric: 276
                continent: EU
                fipsCode: GM
                continentName: Europe
            #}
        </div>
    {% elif countries.geonames == [] %}
        <div class="box">
            <h1>No Such Country</h1>
            <p>There is no country that matches this country code.</p>
        </div>
    {% else %}
        <div class="box">
            <h1>Error</h1>
            <p>{{ countries.status.message|default('Something went wong') }}</p>
        </div>
    {% endif %}
    {#-
    vim:ft=django
    -#}
{% endblock %}
